# Dependencies
node_modules
npm-debug.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build output
dist
build

# Version control
.git
.gitignore

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
logs
*.log
